.container_a {
	color: white;
	margin-top: 15px;
	min-width: 250px;
}
.modal-fullscreen {
	color: black;
}
#exampleModal {
	text-align: center;
}
.modal-body h3 {
	margin-top: 5px;
}
.modal-body {
	word-break: break-all;
}
.big_graph {
	width: 80%;
	max-width: 690px;
}
.display_texts {
	margin-top: 10px;
}
